<!-- Include the header partial and specify a title -->
<% title = player.get('name') %>

<% include ../_header %>

<!-- content -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
 
    <section class="content">
        <div class="row">   
           <div class="col-md-5">
                <div class="box box-widget widget-user-2 club-header">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header">
                        <div class="widget-user-image text-center">
   
                            <a href="/club/<%= player.get('club').get('clubId') %>" title="<%= player.get('club').get('name') %> (<%= player.get('club').get('country') %>)"><img class="club-logo" src="http://www.fa13.info/image/logo/<%= player.get('club').get('clubId') %>.gif" alt="<%= player.get('club').get('name') %>"></a>
                        </div>
                        <h3 class="widget-user-username"><%= player.get('name') %></h3>
                        <h5 class="widget-user-desc"><img src="/dist/img/blank.gif" class="flag flag-<%= player.get('nationalityCode').get('flag') %>" alt="<%= player.get('nationality') %>" /><span><%= player.get('nationality') %></span>
                        </h5>
                        <div class="widget-user-raiting">
                            <div class="btn-app">
                                <div class="value"><%= player.get('position') %></div>
                                <span>Позиция</span>
                            </div>
                            <div class="btn-app">
                                <% if (player.get('age')!=pPlayer.get('age')) { %>
                                    <% if (player.get('age')<pPlayer.get('age')) { %>
                                        <span class="badge bg-green"><%= player.get('age')-pPlayer.get('age') %></span>
                                    <% } else {%>
                                        <span class="badge bg-red"><%= player.get('age')-pPlayer.get('age') %></span>
                                    <% }; %>
                                <% }; %>
                                <div class="value"><%= player.get('age') %></div>
                                <span>Возраст</span>
                            </div>
                            <div class="btn-app">
                                <div class="value"><%= player.get('talent') %></div>
                                <span>Талант</span>
                            </div>
                            <div class="btn-app">
                                <% if (player.get('strength')!=pPlayer.get('strength')) { %>
                                    <% if (player.get('strength')>pPlayer.get('strength')) { %>
                                        <span class="badge bg-green"><%= player.get('strength')-pPlayer.get('strength') %></span>
                                    <% } else {%>
                                        <span class="badge bg-red"><%= pPlayer.get('strength')-player.get('strength') %></span>
                                    <% }; %>
                                <% }; %>
                                <div class="value"><%= player.get('strength') %></div>
                                <span>Сила</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-5 border-right">
                                <div class="description-block">
                                    <div id="sparkline-2"></div>
                                    <span class="description-text">Зарплата</span>
                                    <h5 class="description-header"><%= player.get('salary') %> тыс.</h5>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-xs-7">
                                <div class="description-block">
                                    <div id="sparkline-3"></div>
                                    <span class="description-text">Стоимость игрока</span>
                                    <h5 class="description-header">
                                        <% if (player.get('price') > 999) { %>
                                            <%= (player.get('price')/1000).toFixed(2) %> млн.
                                        <% } else { %> 
                                            <%= player.get('price') %> тыс.
                                        <% }; %>
                                    </h5>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                        </div>
                    </div>

                   <div class="box-footer no-padding">
                        <div class="row">
                            <div class="col-md-5 col-xs-12">
                                <ul class="nav nav-pills nav-stacked">
                                    <li><a href="#">Тур рождения <span class="pull-right"> <%= player.get('birthtour') %></span></a></li>
                                    <li><a href="#">Место рождения <span class="pull-right"> <%= player.get('birthplace') %></span></a></li>
                                    <li><a href="#">Клуб <span class="pull-right"> <%= player.get('club').get('name') %> (<%= player.get('club').get('country') %>)</span></a></li>
                                                                     <li><a href="#">Опыт <span class="pull-right"> <%= player.get('experience') %></span></a></li>
                                    <li><a href="#">Физа <span class="pull-right "> <%= player.get('fitness') %></span></a></li>
                                    <li><a href="#">Здоровье <span class="pull-right"> <%= player.get('health') %></span></a></li>
                                </ul>
                            </div>
                            <div class="col-md-7 col-xs-12">
                                 <div class="description-block text-center">
                                    <div class="canvas-holder">
                                        <canvas id="svChart" style="width: 90%;"></canvas>
                                    </div>
                                    <h5 class="description-header">
                                        <% if (player.get('shooting')>20) { %>у<%= player.get('shooting') %> <% } %>
                                        <% if (player.get('passing')>20) { %>п<%= player.get('passing') %> <% } %>
                                        <% if (player.get('crossing')>20) { %>н<%= player.get('crossing') %> <% } %>
                                        <% if (player.get('tackling')>20) { %>о<%= player.get('tackling') %> <% } %>                                        
                                        <% if (player.get('dribbling')>20) { %>д<%= player.get('dribbling') %> <% } %>
                                        <% if (player.get('handling')>20) { %>т<%= player.get('handling') %> <% } %>
                                        <% if (player.get('reflexes')>20) { %>р<%= player.get('reflexes') %> <% } %>
                                        <% if (player.get('heading')>20) { %>в<%= player.get('heading') %> <% } %>
                                        <% if (player.get('speed')>20) { %>с<%= player.get('speed') %> <% } %>       
                                        <% if (player.get('stamina')>20) { %>ф<%= player.get('stamina') %> <% } %>
                                    </h5>
                                 </div>
                            </div>
                        </div>
                    </div><!-- /.footer -->

                   <div class="box-footer text-center">
                        <a href="javascript::"><span class="uppercase text-light-blue">Подробная информация об игроке  </span> </a>
                    </div>

                </div><!-- /.box -->

                <% if (playersObmen.length > 0) { %>
                <div class="box box-primary">
                    <div class="box-header ">
                        <h3 class="box-title">Игроки для обмена</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>

                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                                <tr class="bg-gray disabled">
                                    <th class="text-center">Поз</th>
                                    <th>Игрок</th>
                                    <th class="text-center">Нац</th>
                                    <th>Клуб</th>
                                    <th class="text-right">Сила</th>
                                    <th class="text-right">З/П</th>
                                    <th class="text-right">Цена</th>
                                    <th class="text-right">&nbsp;</th>
                                </tr>
                                <% for (var i=0; i<playersObmen.length-1; i++){ %>

                                <tr>
                                    <td class="text-center"><%= playersObmen[i].get('position') %></td>
                                    <td><a href="/player/<%= playersObmen[i].get('playerId') %>"><%= playersObmen[i].get('name') %></a><% if (playersObmen[i].get('disqualification')>0) { %> <i class="fa fa-ban text-danger" title="Дисквалификация: <%= playersObmen[i].get('disqualification') %>"></i><% } %><% if (playersObmen[i].get('fitness')<70) { %> <i class="fa fa-medkit text-danger" title="Физа: <%= playersObmen[i].get('fitness') %>"></i><% } %></td>
                                    <td class="text-center">
                                        <img src="/dist/img/blank.gif" class="flag flag-<%= playersObmen[i].get('nationalityCode').get('flag') %>" alt="<%= playersObmen[i].get('nationality') %>" title="<%= playersObmen[i].get('nationality') %>" />
                                    </td>
                                    <td><a href='/club/<%= playersObmen[i].get('club').get('clubId') %>' title="<%= playersObmen[i].get('clubName') %> (<%= playersObmen[i].get('club').get('country') %>)"><%= playersObmen[i].get('clubName') %></a></td>
                                    <td class="text-right"><%= playersObmen[i].get('strength') %></td>
                                    <td class="text-right"><%= playersObmen[i].get('salary') %>
                                    <td class="text-right"><b><%= playersObmen[i].get('price') %></b></td>
                                    <td>&nbsp;</td>
                                </tr>
                                


                                <% }; %>
                         </tbody>
                        </table>
                    </div><!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="javascript::"><span class="uppercase text-light-blue">Все игроки для обмена  </span> </a>
                    </div>
                </div>
                <% }; %>


            </div> 
        </div><!-- /.row -->
    </section>

        <!-- Main content -->

    </div><!-- /.content-wrapper -->

<!-- Include the footer partial -->
<% include ../_footer %>
    <script src="/plugins/chartjs/Chart.min.js"></script>

<!-- Include the footer partial -->
<script>
var myvalues = [1000, 1200, 920, 927, 931, 1027, 819, 930, 1021];
  $('#sparkline-1').sparkline(myvalues, {
    type: 'line',
    lineColor: '#92c1dc',
    fillColor: "#ebf4f9",
    height: '50',
    width: '80'
  });
  myvalues = [<% for (var i=aPlayer.length-1; i!=-1; i--){ %><%= aPlayer[i].get('salary')*1000 %>,<% }; %>];
  $('#sparkline-2').sparkline(myvalues, {
    type: 'line',
    lineColor: '#92c1dc',
    fillColor: "#ebf4f9",
    height: '50',
    width: '80'
  });
  myvalues = [<% for (var i=aPlayer.length-1; i!=-1; i--){ %><%= aPlayer[i].get('price')*1000 %>,<% }; %>];
  $('#sparkline-3').sparkline(myvalues, {
    type: 'line',
    lineColor: '#92c1dc',
    fillColor: "#ebf4f9",
    height: '50',
    width: '80'
  });

    $(function () {
       
        Chart.defaults.global.responsive = true;

        var svData = {
            labels: ["Физа", "Скорость", "Отбор", "Навес", "Пас", "Дриблинг", "Удар", "Воздух", "Реакция", "Техника"],
            datasets: [
            {
            label: "Специальные возможности",
            fillColor: "#ebf4f9",
            strokeColor: '#92c1dc',
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [<%= player.get('stamina') %>, <%= player.get('speed') %>, <%= player.get('tackling') %>,  <%= player.get('crossing') %>, <%= player.get('passing') %>, <%= player.get('dribbling') %>, <%= player.get('shooting') %>, <%= player.get('heading') %>, <%= player.get('reflexes') %>, <%= player.get('handling') %>]
            }

             ]
        };
        var svOptions = {
            scaleOverride: true,
            scaleSteps: 4,
            scaleStepWidth: 20,
             scaleStartValue: 20,
             scaleBeginAtZero : false,
             pointLabelFontFamily : "'Roboto'",
             pointDot : false,
             pointLabelFontSize : 12,
             pointLabelFontColor : "#757575",

        }
        var svChartCanvas = $("#svChart").get(0).getContext("2d");
        var mysvChart = new Chart(svChartCanvas);
        mysvChart.Radar(svData, svOptions);
    });



</script>

 </body>
</html>