<!-- Include the header partial and specify a title -->
<% title = player.get('name') %>

<% include ../_header %>

<!-- content -->

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
 
    <section class="content">
        <div class="row">   
           <div class="col-md-4">
                <div class="box box-widget widget-user-2 club-header">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header">
                        <div class="widget-user-image text-center">
   
                            <a href="/club/<%= player.get('club').get('clubId') %>" title="<%= player.get('club').get('name') %> (<%= player.get('club').get('country') %>)"><img class="club-logo" src="http://www.fa13.info/image/logo/<%= player.get('club').get('clubId') %>.gif" alt="<%= player.get('club').get('name') %>"></a>
                        </div>
                        <h3 class="widget-user-username"><%= player.get('name') %></h3>
                        <h5 class="widget-user-desc"><a href="#" title="<%= player.get('nationality') %>"><img src="/dist/img/blank.gif" class="flag flag-<%= player.get('nationalityCode').get('flag') %>" alt="<%= player.get('nationality') %>" /></a>
                                        <a href="#"><span><%= player.get('nationality') %></span></a>
                        </h5>
                        <div class="widget-user-raiting">
                            <div class="btn-app">
                                <div class="value"><%= player.get('position') %></div>
                                <span>Позиция</span>
                            </div>
                            <div class="btn-app">
                                <div class="value"><%= player.get('age') %></div>
                                <span>Возраст</span>
                            </div>
                            <div class="btn-app">
                                <div class="value"><%= player.get('talent') %></div>
                                <span>Талант</span>
                            </div>
                            <div class="btn-app">
                                <span class="badge bg-red">-1</span>
                                <div class="value"><%= player.get('strength') %></div>
                                <span>Сила</span>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6 border-right">
                                <div class="description-block">
                                    <div id="sparkline-2"></div>
                                    <span class="description-text">Зарплата</span>
                                    <h5 class="description-header"><%= player.get('salary') %> тыс.</h5>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-xs-6">
                                <div class="description-block">
                                    <div id="sparkline-3"></div>
                                    <span class="description-text">Стоимость игрока</span>
                                    <h5 class="description-header">
                                        <% if (player.get('price') > 999) { %>
                                            <%= (player.get('price')/1000).toFixed(2) %> млн.
                                        <% } else { %> 
                                            <%= player.get('price') %> тыс.
                                        <% }; %>
                                    </h5>
                                </div><!-- /.description-block -->
                            </div><!-- /.col -->
                            <div class="col-xs-12 border-top">
                                <div class="description-block">
                                    <div class="canvas-holder">
                                        <canvas id="svChart" style="width: 90%;"></canvas>
                                    </div>
                                 </div>
                            </div>

                        </div><!-- /.row -->
 
                    </div>

 
                </div><!-- /.box -->
            </div> 
        </div><!-- /.row -->
    </section>

        <!-- Main content -->

    </div><!-- /.content-wrapper -->

<!-- Include the footer partial -->
<% include ../_footer %>
    <script src="/plugins/chartjs/Chart.min.js"></script>

<!-- Include the footer partial -->
<script>
var myvalues = [1000, 1200, 920, 927, 931, 1027, 819, 930, 1021];
  $('#sparkline-1').sparkline(myvalues, {
    type: 'line',
    lineColor: '#92c1dc',
    fillColor: "#ebf4f9",
    height: '50',
    width: '80'
  });
  myvalues = [515, 519, 520, 522, 652, 810, 370, 627, 319, 630, 921];
  $('#sparkline-2').sparkline(myvalues, {
    type: 'line',
    lineColor: '#92c1dc',
    fillColor: "#ebf4f9",
    height: '50',
    width: '80'
  });
  myvalues = [15, 19, 20, 22, 33, 27, 31, 27, 19, 20, 21];
  $('#sparkline-3').sparkline(myvalues, {
    type: 'line',
    lineColor: '#92c1dc',
    fillColor: "#ebf4f9",
    height: '50',
    width: '80'
  });

    $(function () {
       
        Chart.defaults.global.responsive = true;

        var svData = {
            labels: ["Физа", "Скорость", "Отбор", "Навес", "Пас", "Дриблинг", "Удар", "Воздух", "Реакция", "Техника"],
            datasets: [
            {
            label: "Специальные возможности",
            fillColor: "#ebf4f9",
            strokeColor: '#92c1dc',
            pointColor: "rgba(151,187,205,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: [<%= player.get('stamina') %>, <%= player.get('speed') %>, <%= player.get('tackling') %>,  <%= player.get('crossing') %>, <%= player.get('passing') %>, <%= player.get('dribbling') %>, <%= player.get('shooting') %>, <%= player.get('heading') %>, <%= player.get('reflexes') %>, <%= player.get('handling') %>]
            }

             ]
        };
        var svOptions = {
            scaleOverride: true,
            scaleSteps: 4,
            scaleStepWidth: 20,
             scaleStartValue: 20,
             scaleBeginAtZero : false,
             pointLabelFontFamily : "'Roboto'",
             pointDot : false,
             pointLabelFontSize : 12,
             pointLabelFontColor : "#757575",

        }
        var svChartCanvas = $("#svChart").get(0).getContext("2d");
        var mysvChart = new Chart(svChartCanvas);
        mysvChart.Radar(svData, svOptions);
    });



</script>

 </body>
</html>